.story-show-comment-container {
    // border: 1px solid green;
}

.comments-head {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.comment-container {
    border-top: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-head {
    font-size: 20px;
    font-weight: bold;
}

.comment-text {
    font-size: 16px;
}

.commenter-name {
    padding: 10px;
}

.commenter-body {
    padding: 10px;
}

.nested-comments {
    margin-left: 20px;
}

.fa-comment {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.fa-comment:hover {
    cursor: pointer;
}

.comment-filler {
    text-align: center;
    width: 500px;
    font-size: 18px;
    color: lightgray;
    border: 1px solid lightgray;
    margin: 20px auto;
    padding: 15px;
}

.comment-filler:hover {
    background-color: rgb(233, 227, 227);
}

.comment-btns {
    display: flex;
}

.add-comment-btn, .delete-comment-btn {
    font-size: 18px;
}

.add-comment-btn {
    margin-right: 15px;
}

.add-comment-btn:hover {
    color: gray;
}

.delete-comment-btn:hover {
    color: red;
}