.story-show-comment-container {
    // border: 1px solid green;
}

.comments-head {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.comment-container {
    border: 1px solid green;
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-head {
    font-size: 20px;
    font-weight: bold;
}

.comment-text {
    font-size: 16px;
}

.commenter-name {
    padding: 10px;
}

.commenter-body {
    padding: 10px;
}

.nested-comments {
    margin-left: 20px;
    margin-right: 20px;
}
