.story-show-comment-container {
    // border: 1px solid green;
}

.comments-head {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.comment-container {
    border-top: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 100px;
}

.comment-head {
    font-size: 20px;
    font-weight: bold;
}

.comment-text {
    font-size: 16px;
}

.commenter-name {
    padding: 10px;
}

.commenter-body {
    padding: 10px;
    word-wrap: break-word;
    max-width: 700px;
}

.nested-comments {
    margin-left: 20px;
}

.fa-comment {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.fa-comment:hover {
    cursor: pointer;
}

.comment-filler {
    text-align: center;
    width: 500px;
    font-size: 18px;
    color: lightgray;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
}

.comment-btns {
    display: flex;
    margin-bottom: 10px;
}

.add-comment-btn, .delete-comment-btn {
    font-size: 18px;
}

.add-comment-btn {
    margin-right: 10px;
}

.add-comment-btn:hover {
    color: gray;
}

.delete-comment-btn:hover {
    color: red;
    cursor: pointer;
}

.comment-form-btn {
    border: none;
    background: #029E74;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border-width: 1px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form-btn:hover, .leave-comment-btn:hover {
    background: #03b485;
}

.current-comment {
    display: flex;
}

.current-comment-text {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-left: 10px;
}

.comment-form-textarea {
    font-size: 16px;
    height: 200px;
    width: 450px;
    outline: none;
    border: none;
    resize: none;
    margin-top: 5px;
}

.comment-form {
    max-width: 450px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}

.leave-comment-btn {
    border: none;
    background: #029E74;
    color: white;
    padding: 4px 8px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    border-width: 1px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.leave-comment-btn-container {
    text-align: center;
}