.feed-container {
    margin: 10px 70px;
}

.feed-main {
    display: flex;
}

.feed-divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin: 20px auto;
}

.feed-main-items {
    display: block;
    width: 90%;
}

.story-index-top {
    display: flex;
    justify-content: space-evenly;
    height: 350px;
}

.left-top > h1, .center-top h1, .right-top > h1 {
    font: bold;
    font-size: 24px;
    margin: 5px;
}

.left-top > h2, .center-top h2, .right-top > h2 {
    font-size: 16px;
    color: #0000008A;
    margin: 5px;
}

.left-top > h3, .center-top h3, .right-top > h3 {
    font-size: 14px;
    margin: 5px;
}

.center-top {
    overflow: hidden;
}

.story-index-title {
    font: bold;
    font-size: 24px;
}

.story-index-popular {
    margin: 20px;
    top: auto;
    position: sticky;
}

.popular-divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    width: 80%;
}

.popular-story  {
    display: flex;
    justify-content: space-between;
}


.story-index-subtitle {
    font-size: 16px;
    color: #0000008A;
}

.story-index-author {
    font-size: 14px;
}

.popular-title {
    color: #000000D6;
    font-size: 24px;
}