.feed-container {
    margin: 10px 70px;
}

.feed-main {
    display: flex;
}

.feed-divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-top: 20px;
    margin-bottom: 40px;
}

.feed-main-items {
    display: block;
    width: 90%;
}

.index-min-read {
    font-size: 12px;
    color: gray;
}

.top-min-read {
    font-size: 12px;
    color: gray;
}

.item-min-read {
    font-size: 12px;
    color: gray;
}

.story-index-top {
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin-top: 10px;
}

.left-top img, .right-top img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.center-top-image {
    display: flex;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.top-details {
    display: flex;
    margin-bottom: 20px;
}

.story-top-title {
    font: bolder;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.story-top-subtitle {
    font-size: 14px;
    color: #0000008A;
    margin-bottom: 15px;
}

.story-top-author {
    display: inline;
    font-size: 14px;
}

.story-top-author:hover {
    border-bottom: 1px solid black;
}

.center-top-title {
    font: bolder;
    font-size: 16px;
    margin-bottom: 2px;
}

.top-details-section {
    margin-left: 20px;
}

.editors-picks {
    color: #03A87C;
    text-align: right;
    font-size: 14px;
    font-weight: lighter;
}

.left-top {
    width: 33%;
    margin-right: 10px;
}

.center-top {
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.right-top {
    width: 33%;
    margin-left: 10px;
}


.story-index-title {
    font: bold;
    font-size: 24px;
}

.story-index-popular {
    position: sticky;
    top: 0;
    margin: 10px;
    align-items: flex-start;
}

.popular-divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin: 30px 0;
    width: 80%;
}

.popular-story {
    display: flex;
    width: 85%;
    margin-bottom: 15px;
}

.popular-num {
    margin-right: 10px;
    font-size: 34px;
}

.popular-story-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.popular-story-author {
    display: inline;
    font-size: 14px;
    margin-bottom: 3px;
}

.popular-story-author:hover {
    border-bottom: 1px solid black;
    width: 100%;
}

.story-index-item {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.story-index-subtitle {
    font-size: 15px;
    color: #0000008A;
    margin-top: 8px;
    margin-bottom: 4px;
}

.story-index-author {
    display: inline;
    font-size: 14px;
}

.story-index-author:hover {
    border-bottom: 1px solid black;
}

.reading-history {
    color: gray;
    font-size: 15px;
}

.popular-title {
    color: #000000D6;
    font-size: 24px;
}

.footer a {
    color: gray;
    font-size: 30px;
}

.fa-github-square, .fa-linkedin, .fa-angellist {
    margin-right: 10px;
}

.fa-github-square:hover, .fa-linkedin:hover, .fa-angellist:hover {
    color: green;
}

.footer-divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-top: 60px;
    margin-bottom: 15px;
    width: 80%;
}

.story-index-image img {
    height: 170px;
    width: 150px;
    object-fit: cover;
    margin-right: 5px;
}