.navbar-container .navbar, .navbar-profile-container {
    display: flex;
    align-items: center;
}

.navbar {
    justify-content: space-around;
    height: 70px;
    box-shadow: 0px 3px 10px -3px;
}

.navbar-name {
    color: black;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-family: 'Source Serif Pro', serif;
}

.navbar-link {
    text-decoration: none;
}

.signup-btn, .login-btn {
    border: none;
    font-size: medium;
    cursor: pointer;
}

.signup-btn {
    background: #03A87C;
    height: 36px;
    width: 116px;
    border-radius: 5%;
    color: white;
    outline: none;
    margin: 25px;
}

.signup-btn:hover {
    background: #03b485;
}

.login-btn {
    height: 36px;
    background: white;
    outline: none;
}

.logout-btn {
    font-size: 16px;
    background: white;
    color: #03b485;
    border: 2px solid #03A87C;
    width: 100px;
    height: 40px;
    border-radius: 5%;
    margin: 25px;
}

.logout-btn:hover {
    background: lightgrey;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navbar-username {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}