.navbar-container .navbar, .navbar-profile-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    height: 70px;
    padding: 5px;
    box-shadow: 0px 3px 15px -3px;
}

.navbar-name {
    color: black;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
}

.navbar-link {
    text-decoration: none;
}

.signup-btn, .login-btn {
    border: none;
    font-size: medium;
    cursor: pointer;
}

.signup-btn {
    background: #03A87C;
    height: 36px;
    width: 116px;
    border-radius: 5%;
    color: white;
    outline: none;
    margin: 25px;
}

.signup-btn:hover {
    background: #03b485;
}

.login-btn {
    height: 36px;
    background: white;
    outline: none;
}