.view-profile-btn {
    margin-right: 500px;
    border-color: gray;
    color: gray;
    padding: 8px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
    border-width: 1px;
    cursor: pointer;
    font-size: 16px;
}

.view-profile-btn:hover {
  cursor: pointer;
}

.Follow {
  border: 1px solid;
  border-radius: 4px;
  background: white;
  outline: none;
  padding: 2px 6px;
  border-color: #029E74;
  color: #029E74;
}

.Follow:hover {
  background: lightgreen;
  cursor: pointer;
}

.Unfollow {
  border: 1px solid;
  border-radius: 4px;
  // background: white;
  background: #029E74;
  outline: none;
  padding: 2px 6px;
  border-color: #029E74;
  color: white;
}

.Unfollow:hover {
  background: red;
  cursor: pointer;
  border-color: red;
}