.session-form-container, .session-form-errors {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    width: 45%;
}

.demo-login-btn, .session-form-btn, .signup-option-text > button, 
.login-option-text > button, .close-x {
    cursor: pointer;
}

.session-form-type {
    font-size: 30px;
    margin: 10px;
}

.session-form-errors {
    color: red;
}

.close-x {
    position: absolute;
    top: 0;
    right: 0;
    font-size: larger;
    margin: 10px;
}

.demo-login-btn, .session-form-btn {
    font-size: 16px;
    border: none;
    width: 92px;
    height: 36px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5%;
    color: white;
    margin: 10px;
}

.demo-login-btn {
    background: #03A87C;
}

.session-form-btn {
    background: black;
}

.demo-login-btn:hover {
    background: #03b485;
}

.signup-option-text, .login-option-text {
    font-size: medium;
}

.signup-option-text > button, .login-option-text > button {
    color: #03A87C;
    border: none;
    background: white;
    font-size: medium;
    outline: none;
}

.create-account-message, .welcome-back-message {
    font-size: 20px; 
}

.username-form, .email-form, .password-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 10px;
}

.session-form-btn {
    font-size: 20px;
    background: black;
    color: white;
    border: none;
    width: 92px;
    height: 36px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5%;


}