.session-form-container, .session-form-errors {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    width: 45%;
}

.demo-login-btn, .session-form-btn, .signup-option-text > button, 
.login-option-text > button, .close-x {
    cursor: pointer;
}

.session-form-type {
    font-size: 30px;
    margin: 10px;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

.session-form-errors {
    color: red;
    width: 200px;
    animation: .5s shake infinite;
    animation-iteration-count: 4;
}

.close-x {
    position: absolute;
    top: 0;
    right: 0;
    font-size: larger;
    margin: 20px;
    font-family: fantasy;
}

.demo-login-btn, .session-form-btn {
    font-size: 16px;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5%;
    color: white;
    margin: 10px;
}

.demo-login-btn {
    background: #03A87C;
}

.session-form-btn {
    background: black;
}

.demo-login-btn:hover {
    background: #03b485;
}

.session-form-btn:hover {
    background: rgb(41, 40, 40);
}

.signup-option-text, .login-option-text {
    display: block;
    font-size: medium;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-option-text > button, .login-option-text > button {
    color: #03A87C;
    border: none;
    background: white;
    font-size: medium;
    outline: none;
}

.create-account-message, .welcome-back-message {
    font-size: 20px; 
    margin: 10px;
}

.username-form, .email-form, .password-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    font-size: 14px;
}

.username-form-input, .email-form-input, .password-form-input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    text-align: center;
    margin: 10px;
}