.splash-container {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    align-items: center;
    flex-direction: column;
}

.splash-head-title {
    font-size: 60px;
    font-weight: 500;
    font-family: 'Alata', sans-serif;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    text-align: center;
}

.splash-head-subtitle {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    text-align: center;
}

.splash-categories-container {
    display: block;
}

.splash-categories-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.splash-signup-login-container {
    align-content: center;    
}

.splash-signup-btn {
    border: none;
    font-size: 24px;
    cursor: pointer;
    background: #03A87C;
    height: 60px;
    width: 340px;
    border-radius: 3px;
    color: white;
    outline: none;
    margin-top: 30px;
    padding: 8px 16px;
}

.splash-signup-btn:hover {
    background: #03b485;
}

.login-option-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.splash-context-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.splash-context-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.splash-context-list li:last-child {
    font-weight: bolder;
    padding-top: 1px;
}

.fa-check {
    color: green;
    margin-right: 3px;
}

.splash-categories-item {
    display: flex;
    margin: 20px;
    padding: 10px 20px;
    background: rgba(242, 242, 242, 1);
    border-radius: 30px;
    font-size: 24px;
    color: rgba(117, 117, 117, 1);
}

.splash-categories-item img {
    font-size: 24px;
    margin-right: 7px;
}

.splash-categories-item:focus {
    outline: none;
    background: rgba(12, 242, 143, .2);
}

.splash-categories-item:hover {
    background: rgb(236, 234, 234);
    cursor: pointer;
}

.fa-car {
    color: blue;
}

.splash-footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    border-top: 1px solid black;
    padding: 15px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.splash-github, 
.splash-linkedin, 
.splash-angellist {
    font-size: 40px;
    margin-top: 5px;
}

.attribution {
    margin-top: 5px;
}

.fa-hashtag {
    font-size: 24px;
    margin-right: 7px;
}