.story-show-page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.story-show-container {
    width: 700px;
}

.show-image {
    width: 700px;
    height: 500px;
    margin: 30px auto;
}

.show-title, .show-subtitle, .show-body {
    width: 700px;
    overflow-wrap: break-word;
}

.show-title {
    font: bolder;
    font-size: 40px;
}

.show-subtitle {
    font-size: 24px;
    color: rgba(117, 117, 117, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-body {
    display: block;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.story-show-container {
    display: flex;
}

.story-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;
    margin-left: 250px;
}

.story-form-title-input, .story-form-subtitle-input {
    border: none;
    width: 700px;
    outline: none;
    resize: none;
    font-size: 40px;
}

.story-form-body-input{
    border: none;
    width: 700px;
    outline: none;
    resize: none;
    font-size: 20px;
}

.story-form-title-input::placeholder, .story-form-subtitle-input::placeholder {
    color: gray;
    font-size: 40px;
    display: block;
}

.story-form-body-input::placeholder {
    color: gray;
    font-size: 20px;
}

.story-form-body-input {
    height: 900px;
    align-self: start;
    position: relative;
    top: -50px;
    margin-top: 20px;
}


.story-form-btn-container {
    width: 800px;
    display: block;
    text-align: right;
    position: sticky;
    top: 0px;
    z-index: 20;
}

.story-form-btn {
    background: #03A87C;
    color: white;
    border-radius: 10%;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.story-form-btn:hover {
    background: #03b485;
    cursor: pointer;
}

.story-form-image {
    display: flex;
    position: relative;
    top: 5px;
    right: 60px;
    font-size: 30px;
    cursor: pointer;
}

.story-form-image-input {
    display: none;
}

.image-preview {
    width: 600px;
    height: 450px;
    margin-bottom: 70px;
}