.story-show-page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.story-show-container {
    width: 700px;
}

.show-image {
    width: 700px;
    height: 500px;
    margin: 30px auto;
}

.show-title {
    font: bolder;
    font-size: 40px;
    margin-top: 30px;
}

.show-subtitle {
    font-size: 24px;
    color: rgba(117, 117, 117, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-body {
    display: block;
    margin-bottom: 30px;
}

// .story-form-button {
//     display: block;
//     position: fixed;
//     top: -30px;
//     right: 400px;
//     z-index: 1000;
// }

.story-show-container {
    display: flex;
}

.story-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;
    margin-left: 250px;
}

.story-form-title-input, .story-form-subtitle-input, .story-form-body-input {
    border: none;
    width: 800px;
    outline: none;
    resize: none;
}

.story-form-title-input, .story-form-subtitle-input {
    height: 50px;
}

.story-form-title-input::placeholder, .story-form-title-input::placeholder {
    color: gray;
    font-size: 20px;
    display: block;
}

.story-form-body-input {
    height: 900px;
    align-self: start;
}

.story-form-body-input::placeholder {
    color: gray;
    font-size: 30px;
}

.story-form-btn-container {
    width: 800px;
    display: block;
    text-align: right;
    position: sticky;
    top: 0px;
    z-index: 300;
}

.story-form-btn {
}

.story-form-image {
    display: flex;
    position: relative;
    top: 35px;
    right: 100px;
}

.story-form-image-input {
    // display: none;
}